body {
	color: 	#FFFFFF;
	background: url('gambar.jpg');
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: Rockwell;
	line-height: 1.3em;
	margin: 8px;
}

.table1, th, td {
	color:	#FFFFFF;
    border: 1px solid #999;
    padding: 10px 20px;
}
